p {
    margin: 0;
}
.center {
  width: 1300px;
  border: 3px solid green;
  padding: 10px;
}

.placeholder1 {
    margin-top: 200px;
}

.placeholder2 {
    margin-top: 70px;
}

.header {
    vertical-align: center;
    height: 60px;
}

.header_opt{
    float: left;
    width: 260px;
    height: 53px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid blue;
}

.mda {
    margin: 0 0 0 0;
}

.languages {
    float: left;
    position: relative;
}

.line {
    height: 23px;
}

.lang_opt {
    width: 85px
}


.search_bar {
  width: 1300px;
  border: 3px solid green;
  padding: 10px;
  display: inline-block
}


.box {
    position: relative;
    float: left;
}

.box1 {
    float: left;
    margin: 17px;
    width: 212px;
    height: 53px;
}


.bestConnections {
    width: 1350px;
    border: 3px solid orange;
    padding: 10px;
    display: inline-block
}

.connectionLine {
    height: 70px;
}

.biggerText {
    font-size: 25px;
}

.buyTicket {

}

.connectionLine {
    margin: 20px 20px;
}

.logo {
    margin: 0;
    padding: 20px;
    width: 30px;
    height: 30px;
    float: left;
}


hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
